<div class="grid grid-cols-2 gap-3">
    <div class="col-span-1">
        <div class="flex flex-col p-4 items-center max-w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <app-agregarproducto/>
        </div>

    </div>
    <div class="col-span-1">
        <div class="max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <app-stockstatus/>
        </div> 
    </div>
    <div class="col-span-2">
        <div class="max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <app-crud/>
        </div> 
    </div>
</div>
