
<div  class="block max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Venta</h5>
    <!--====================================
    Agregamos el folio para saber el numero de venta, el cual solamente agrega la ultima venta +1 Solamente para tener un registro de las ventas
    =====================================-->
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="background-color: rgb(188, 230, 168);">0000000000-01</h5>
    
      <app-formventas/>
    <app-tableventas/>

    
<!--<br>formulario (
    <br>buscar prod
    <br>cantida 
    <br>precio/unitario
    <br>stock
)
<br>
tabla "carrito de compras"(
    <br>idProd
    <br>nombre
    <br>unidades
    <br>costo unit
    <br>subtotal
)
<br>
botones (salvar venta)-->
</div>
    