
    <div class="grid grid-cols-4 grid-rows-4 gap-4 mb-4 h-auto">
        <div class="col-span-2 row-span-2">          
            <app-frameventas></app-frameventas>
        </div>
        <div class="col-span-2 row-span-2">        
            <app-frameusuarios></app-frameusuarios>  
        </div>
        <div class="col-span-4 row-span-2 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">          
            <a href="#" class="block p-4 max-h-full">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Inventario</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </a>
        </div>

       
    </div>
    