   
   <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
      <app-navbar></app-navbar>
   </nav>
     <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
        <app-sidebar></app-sidebar>
     </aside>
   
     <main class="p-8 md:ml-64 h-auto pt-[5.7rem] flex flex-col min-h-screen">

      
      <router-outlet/>
        
     </main> 
   
   


